examples/node-red-flow.json
[
    {
        "id": "bms_tab_v1",
        "type": "tab",
        "label": "BMS — Conexpro",
        "disabled": false,
        "info": "Subscribes to the conexpro-bms-bridge state topic (default `bms/main/state`),\nstashes the full snapshot in `flow.bms_latest`, and maps the project-relevant\nfields into `global.telemetry` so the dashboard composer (`fn_assemble`) picks\nthem up.\n\nThe bridge already emits the canonical schema, so this flow does very little —\njust availability tracking, the flow stash, and a tiny mapping into the\nglobal telemetry the rest of the dashboard pipeline already reads.\n\nDeploy alongside `services/conexpro-bms-bridge/` (sister Docker container).\n\nFields written into global.telemetry (consumed by fn_assemble):\n\n  house_battery_percent  ← bms.soc_pct\n  house_battery_voltage  ← bms.voltage_v\n  house_battery_current  ← bms.current_a\n  house_battery_power    ← bms.power_w\n\nFlow context kept for ad-hoc reads (e.g. cell delta on the dashboard later):\n\n  flow.bms_latest        full document (object, see service README)\n  flow.bms_status        \"online\" / \"offline\"\n  flow.bms_latest_at     epoch seconds of last successful read",
        "env": []
    },
    {
        "id": "bms_state_in",
        "type": "mqtt in",
        "z": "bms_tab_v1",
        "name": "bms/+/state",
        "topic": "bms/+/state",
        "qos": "0",
        "datatype": "json",
        "broker": "bms_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 1,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [["bms_stash"]]
    },
    {
        "id": "bms_stash",
        "type": "function",
        "z": "bms_tab_v1",
        "name": "stash + map → global.telemetry",
        "func": "const p = msg.payload;\nif (!p || typeof p !== 'object') return null;\n\n// 1) Full document for any consumer that wants it\nflow.set('bms_latest', p);\nflow.set('bms_latest_at', Math.floor(Date.now() / 1000));\n\n// 2) Project-specific mapping into the global telemetry the dashboard\n//    composer (fn_assemble) already reads. We only touch the bms-derived\n//    keys; everything else stays as set by the other handlers.\nconst t = global.get('telemetry') || {};\nif (typeof p.soc_pct    === 'number') t.house_battery_percent = p.soc_pct;\nif (typeof p.voltage_v  === 'number') t.house_battery_voltage = p.voltage_v;\nif (typeof p.current_a  === 'number') t.house_battery_current = p.current_a;\nif (typeof p.power_w    === 'number') t.house_battery_power   = p.power_w;\nglobal.set('telemetry', t);\n\n// 3) Status badge\nconst soc = p.soc_pct, v = p.voltage_v, i = p.current_a;\nnode.status({\n    fill:  p.protection_active ? 'red' : 'green',\n    shape: 'dot',\n    text:  `${soc}% ${v}V ${i >= 0 ? '+' : ''}${i}A @ ${new Date().toLocaleTimeString()}`\n});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [["bms_debug"]]
    },
    {
        "id": "bms_debug",
        "type": "debug",
        "z": "bms_tab_v1",
        "name": "BMS payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "bms_avail_in",
        "type": "mqtt in",
        "z": "bms_tab_v1",
        "name": "bms/+/availability",
        "topic": "bms/+/availability",
        "qos": "1",
        "datatype": "utf8",
        "broker": "bms_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 1,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [["bms_avail_fn"]]
    },
    {
        "id": "bms_avail_fn",
        "type": "function",
        "z": "bms_tab_v1",
        "name": "track availability",
        "func": "const status = (typeof msg.payload === 'string') ? msg.payload : 'unknown';\nflow.set('bms_status', status);\nnode.status({\n    fill:  status === 'online' ? 'green' : 'red',\n    shape: 'dot',\n    text:  status\n});\nif (status !== 'online') {\n    // bridge is down — wipe the live BMS fields from telemetry so the\n    // dashboard doesn't show stale values; fn_assemble will emit nulls.\n    const t = global.get('telemetry') || {};\n    delete t.house_battery_percent;\n    delete t.house_battery_voltage;\n    delete t.house_battery_current;\n    delete t.house_battery_power;\n    global.set('telemetry', t);\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "bms_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto (local)",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
